@media (min-width: 1600px) {
 
    .forgot-page-container .forgot-footer .loginArrow {
        top: -45%;
        right: 2%;
    }
    .forgot-page-container .forgot-footer .scan {
        top: -12px;
        right: -13%;
    }
    .login-page-container .login-footer {
      margin-top: 10%;
    }

}